.img {
  width: 100px;
  object-fit: cover;
}
@media all and (max-width: 1600px) {
  .img {
    width: 80px;
  }
}
@media all and (max-width: 600px) {
  .img {
    width: 60px;
  }
}

@keyframes food-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
