.pizza {
  animation: pizza-spin infinite 20s linear;
  scale: 1.5;
  margin-top: 50px;
}

.pizza:hover {
  cursor: pointer;
}
.icon{
  transform: rotate(330deg);
}
@keyframes pizza-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media all and (max-height: 840px) {
  .wrapper {
    height: 760px;
    gap: 20px;
    padding: 0;
  }
  .header {
    margin: 1%;
  }
  .main_header {
    font-size: 30px;
  }
  .secondary_header {
    font-size: 18px;
    margin: auto;
  }
  .icon {
    scale: 0.7;

  }
  .main_header_container {
    gap: 10px;
  }
}
