.link_btn {
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  min-width: 100px;
  text-align: center;
  color: #eae2b7;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}

.link_btn:hover {
  color: #f77f00;
}
